<IfModule mod_rewrite.c>
    RewriteEngine On
    # Redirect all traffic to /var/www/tuteefind/TuteeFind/index.php
    RewriteRule ^$ /TuteeFind/index.php [L]
    RewriteRule ^(.*)$ /TuteeFind/index.php [L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^([^\.]+)$ $1.php [NC,L]
</IfModule>